@import '../../assets/scss/config.scss';

.gyg-gifItemsGallery {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: $unit-big;
    &.is-empty {
        grid-template-columns: 1fr;  
        grid-template-rows: 100%;  
    }
    .screenState-tablet & {
        grid-template-columns: 1fr 1fr;
    }
    .screenState-mobile & {
        grid-template-columns: 1fr;
    }
}