@import './config.scss';

@font-face {
  font-family: 'Lato';
  src: local('Lato'), url(../fonts/Lato-Regular.ttf) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-weight: $fontWeight-bold;
  src: local('Lato'), url(../fonts/Lato-Bold.ttf) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-weight: $fontWeight-light;
  src: local('Lato'), url(../fonts/Lato-Light.ttf) format('woff');
}

.font-h2 {
  font-size: $fontSize-h2;
}