@font-face {
    font-family: 'Lato';
    src: local('Lato'), url(../fonts/Lato-Regular.ttf) format('woff');
  }
  @font-face {
    font-family: 'Lato';
    font-weight: bold;
    src: local('Lato'), url(../fonts/Lato-Bold.ttf) format('woff');
  }