img {
    max-width: 100%;
}
button {
    display: inline-block;
    appearance: none;
    padding: 0px;
    color: inherit;
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font: inherit;
}

input {
    font: inherit;
}
figure {
    margin: 0;
}
h1, h2, h3 {
    margin: 0;
}