@import '../../assets//scss//config.scss';

.space-genericBox {
    padding: $unit;
}
.space-paddingX {
    padding-right: $unit;
    padding-left: $unit;
}
.space-row {
    margin-bottom: $unit;
}
.space-endGap {
    margin-inline-end: $unit;
}
.space-endGap-big {
    margin-inline-end: $unit-big;
}