@import '../../assets/scss/config.scss';
.ui-spinner {
  width: $unit-big;
  height: $unit-big;
  border: $unit / 2 solid transparent;
  box-sizing: border-box;
  border-radius: 50%;
  animation-name: border;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes border {
  0% {border-color: var(--primary-color) transparent transparent transparent; transform:rotate(0deg);}
  12.5% {border-color: var(--primary-color) var(--primary-color) transparent transparent}
  25% {border-color: var(--primary-color) var(--primary-color) var(--primary-color) transparent}
  37.5% {border-color: var(--primary-color) var(--primary-color) var(--primary-color) var(--primary-color)}
  50% {border-color: transparent var(--primary-color) var(--primary-color) var(--primary-color)}
  62.5% {border-color: transparent transparent var(--primary-color) var(--primary-color)}
  75% {border-color: transparent transparent transparent var(--primary-color)}
  87.5% {border-color: transparent transparent transparent transparent}
  100% {border-color: var(--primary-color) transparent transparent transparent; transform:rotate(-360deg);}
}