@import '../../assets/scss/config.scss';
@import '../../assets/scss/space.scss';

.ui-input {
    border: 1px solid var(--border-color);
    font-weight: $fontWeight-light;
    border-radius: $unit * 1.5;
    background: transparent;
    @extend .space-genericBox;
    transform: skewX($gyg-skew);
    &:focus-within {
        box-shadow: 0px 0px 27px 0px rgba(#3dcad8,0.65)

    }
}
.ui-input__field {
    border: none;
    font-size: $unit * 3;
    width: 100%;
    &:focus {
        outline: none;
    }
    &::placeholder {
        color: var(--border-color);
    }
}