@import '../../assets/scss/config.scss';
@import '../../assets/scss/space.scss';

.gyg-gifItem {
    display: grid;
    grid-template-rows: 47vh 1fr;
}
.gig-gifItem__image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    img {
        position: absolute;
        top: -9999px;
        bottom: -9999px;
        right: -9999px;
        left: -9999px;
        margin: auto;
        height: 100%;
        max-height: 100%;
    }
}
.gig-gifItem__info {
    border-top: 1px solid var(--border-color);
    @extend .space-genericBox;
}