@import '../../assets/scss/config.scss';

.gyg-header {
    border-bottom: 1px solid var(--border-color);
    margin-bottom: $unit-big;
    box-shadow: 0px 23px 37px -8px rgba(0,0,0,0.2)

}
.app-header__top {
    display: flex;
    align-items: center;
    padding: $unit $unit-big;
}
.app-header__title {
    margin: 0;
    font-size: $unit * 4;
    transform: skewX(-10deg);
}
.app-header__caption {
    font-size: $unit-big;
    margin: 0;
}
.app-header__logo {
    margin-inline-end: $unit;
    max-width: $unit * 14;
    border-radius: $unit-big;
    transform: skewX(-5deg);
}
.app-header__menu {
    padding-inline-start: $unit * 1.6;
    overflow: hidden;
}
.app-header__menuItem {
    $shadow: -$unit * 0.3 $unit $unit -$unit / 2 rgba(0,0,0,0.48);
    color: #fff;
    margin-inline-end: $unit / 2;
    padding: $unit * 4 $unit $unit / 1.4;
    text-decoration: none;
    display: inline-flex;
    position: relative;
    &.is-active {
        &:after {
            background-color: var(--primary-color);
        }
    }
    &:hover {
        &:after {
            box-shadow: $shadow, inset 0px -.4em 0px 0px rgba(255, 255, 255, 0.4);
        }
    }
    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: var(--secondary-color);
        z-index: -1;
        transform: skewX(-5deg);
        border-radius: 10% 50% 0 0;
        box-shadow: $shadow

    }
}

body.screenState-tablet, body.screenState-mobile {
    .app-header__top {
        display: grid;
        grid-template-areas: "a b"
                            "c c";
        grid-template-columns: auto 1fr;
    }
    .app-header__logo {
        grid-area: a;
    }
    .app-header__text {
        grid-area: b;
        margin: 0;
    }
    #portal-element {
        margin-top: $unit;
        grid-area: c;
    }
}
body.screenState-mobile {
    .app-header__top {
        font-size: 70%;
    }
    .app-header__menuItem {
        padding-top: $unit;
        &:after {
            border-top-right-radius: $unit;
        }
    }
}