@import './assets/scss/font.scss';
@import './assets/scss/normalizes.scss';
@import './assets/scss/config.scss';
@import './assets/scss/layout.scss';
@import './assets/scss/space.scss';

html {
  --primary-color: #ea2b9e;
  --secondary-color: #161642;
  --border-color: #ccc;
  --focus-color: rgb(#3dcad8);
  --app-bg: #ffffff;
  --app-fontSize: 14px;
}
body, html, #root {
  height: 100%;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: var(--app-bg);
  font-size: 14px;
  font-family: Lato;
}
@media (max-width: 1400px) {
  body {
    font-size: calc(1vw + 1px);
  }
}
@media (orientation: landscape) and (max-height: 800px) {
  body {
    font-size: calc(1.6vh + 1px);
  }
}
body.screenState-tablet {
  font-size: calc(1.4vw + 1px);
}
body.screenState-mobile {
  font-size: calc(2vw + 1px);
  @media (max-width: 600px) {
    font-size: calc(3.1vw + 1px);
  }
}

.gyg-wrapper {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
}