@import './assets/scss/font.scss';

html {
  --primary-color: blue;
  --secondary-color: purple;
  --app-bg: #ffffff;
  --app-fontSize: 14px;
}
body, html, #root {
  height: 100%;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: var(--app-bg);
  font-size: var(--app-fontSize);
  font-family: Lato;
}