@import '../../assets/scss/config.scss';

.ui-wordBox {
    display: flex;
    flex-wrap: wrap;
    gap: $unit * 0.2;
    white-space: nowrap;
    .screenState-mobile & {
        flex-wrap: nowrap;
        overflow: auto;
    }
}